<h1><%= @user.name %>'s photo journal</h1>
<p>
  <a href="/">back</a>
</p>
<div class="list-group">
  <% @imageys.each do |imagey| %>
  <div class="list-group-item">
    <a href='/delete_item/<%= imagey.id %>' class="btn btn-sm btn-default complete"><span class="glyphicon glyphicon-ok"> </span></a>
    <%= imagey.description %>
    <% unless blank? imagey.due %> - <%= imagey.due %></span><% end %>
  </div>
    <img src='<% #{@uploaded.link} %>' /><p>Uploaded to <% #{@uploaded.link} %> </p>
  <% end %>
</div>
<div class="panel">
  <div class="panel-body">
    <h4 class="list-group-item-heading">New Image:</h4>
    <form class="form-inline" action='/<%= @user.id %>/new_item' method='POST'>
      <div class="form-group">
        <input class="form-control" type='text' name='imagey' placeholder='description' />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name='date' placeholder='date taken' />
      </div>
      <div class="form-group">
        <input class="form-control" type='file' name='link' placeholder='image path' />
      </div>
      <button type='submit' class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
